name: Release Probes

on:
  repository_dispatch:
  push:
    tags:
    - "Probes-v[0-9]+.[0-9]+.[0-9]+*"

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  NUGET_APIKEY: ${{ secrets.NUGET_APIKEY}}

jobs:

  Release:
    name: Release
    runs-on: ubuntu-latest
    steps:

      - name: Checkout
        uses: actions/checkout@v2

      - uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '9.x'

      - name: Verify commit
        run: |
          git fetch --no-tags --prune --depth=1 origin +refs/heads/*:refs/remotes/origin/*
          git branch --remote --contains | grep origin/main

      - name: Set version
        run: echo "VERSION=${GITHUB_REF/refs\/tags\/Probes-v/}" >> $GITHUB_ENV

      - name: Build
        run: |
          dotnet build src/Misc/BitzArt.Probes/BitzArt.Probes.csproj --configuration Release /p:Version=${VERSION}
          dotnet pack src/Misc/BitzArt.Probes/BitzArt.Probes.csproj --configuration Release /p:Version=${VERSION} --no-build --output .

      - name: Push
        run: dotnet nuget push BitzArt.Probes.${VERSION}.nupkg --source https://api.nuget.org/v3/index.json --api-key ${NUGET_APIKEY}